.star-off {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star1-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star2-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star3-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star4-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star5-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star6-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star7-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
.star8-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('star.png');
}
