{% if rate < 1 %}
  <div class="star-off">
    {{ "" }}
  </div>
{% endif %}
{% for i in 1..rate if rate > 0 %}
  {% if i < 6 %}
      <div class="star3-on">
        {{ "" }}
      </div>
  {% endif %}
{% endfor %}

